{% extends 'base.html' %}
{% block title %}Create Project{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                {{ form1|crispy }}
  
            <!-- <fieldset class="form-group">
                <legend class="border-bottom mb-4">Добавьте описание проекта</legend>
                {{ form1|crispy }}
            </fieldset> -->
            <button type="submit" class="site-btn">Submit</button>
        </form>
     </div>
    </div>
</div>
{% endblock content %}