{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Начать регистрацию</h3>
      <hr>
      <a href="/" class="single-post__previous">
        <h6><span class="arrow_carrot-left"></span> На главную страницу</h6>
      </a>
      <form action="" method="post" novalidate class="shadow p-5">
        {% if messages %} 
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tag}} mb-5" {% endif %}>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group mb-3">
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            </div>
        {% endfor %}
        <input type="submit" value="Регистрация" class="btn btn-dark">
        <div class="text-center text-primary fw-bold"><small>Уже зарегистрированы ? <a href="{% url 'login' %}"
           class="text-danger">Войти сейчас</a> </small></div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
      </form>
     </div>
    </div>
</div>
{% endblock content %}