{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}      

{% load crispy_forms_tags %}
<!--Login--> 
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Войти</h3>
      <hr>
      <a href="/" class="single-post__previous">
        <h6><span class="arrow_carrot-left"></span> На главную страницу</h6>
      </a>
      <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-4" value="Login">
        <div class="text-center text-primary fw-bold"><small>У вас нет еще аккаунта? <a href="{% url 'customerregistration' %}"
            class="text-danger">Зарегистрироваться</a> </small>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
      </form>
     </div>
    </div>
</div>
{% endblock %}