{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Новая запись</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}