{% extends 'base.html' %}
{% block title %}PostList{% endblock title %}
{% block content %}
    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="breadcrumb__text">
                                <h2>Категории: <span>{{ post_list.first.category.name }}</span></h2>
                                <div class="breadcrumb__option">
                                    <a href="/">Home</a>
                                    <span>{{ post_list.first.category.name }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11 col-sm-6" style="display: flex; flex-direction: row; flex-wrap: wrap; ">
                                    {% for post in post_list %}
                                    <div class="categories__post__item" style="display:flex; flex-direction: column;">
                                        <div class="categories__post__item__pic small__item set-bg"
                                            data-setbg="{{post.image.url}}">
                                            <div class="post__meta">
                                                <h4>{{ post.create_at|date:"d" }}</h4>
                                                <span>{{ post.create_at|date:"M" }}</span>
                                            </div>
                                        </div>
                                        <div class="categories__post__item__text">
                                            <span class="post__label">{{post.category}}</span>
                                            <h3><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
                                            <ul class="post__widget">
                                                <li>Написанo <span>{{post.author}}</span></li>
                                            </ul>
                                            <p>{{post.text|slice:":250"}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="load__more__btn">
                                        <a href="#">Load more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar__item">
                                <div class="sidebar__item__categories">
                                    <div class="sidebar__item__title">
                                        <h6>Категории</h6>
                                    </div>
                                    {% include 'blog/include/tags/sidebar_category.html' %}
                                </div>
                                <div class="sidebar__subscribe__item">
                                    <div class="sidebar__item__title">
                                        <h6>О сайте</h6>
                                    </div>
                                    <p>На этом сайте вы сможете обмениваться проектами друг с другом. Находить людей для разработки стартапа. Ну и просто вдохновляться новыми идеями от студентов.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
