{% extends 'base.html' %}
{% block title %}PostDetail{% endblock title %}
{% block content %}
    <section class="single-post spad">
        <div class="single-post__hero set-bg" style="height: 500px;" data-setbg="{{post.image.url}}"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="single-post__title">
                        <div class="single-post__title__meta">
                            <h2>{{ post.create_at|date:"d" }}</h2>
                            <span>{{ post.create_at|date:"M" }}</span>
                        </div>
                        <div class="single-post__title__text">
                            <ul class="label">
                                <li>{{post.category}}</li>
                            </ul>
                            <h4>{{post.title}}</h4>
                            <ul class="widget">
                                <li>Написано {{post.author}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a href="/" class="single-post__previous">
                            <h6><span class="arrow_carrot-left"></span> На главную страницу</h6>
                        </a>
                    </div>
                    <div class="single-post__top__text">
                        <p>{{ post.text|truncatewords:20 }} </p>
                    </div>
                    {% for project in post.get_projects %}
                    <div class="single-post__recipe__details">
                        <div class="single-post__recipe__details__option">
                            <ul>
                                <li>
                                    <h5> НАЗВАНИЕ</h5>
                                    <span>{{project.name}}</span>
                                </li>
                                <li>
                                    <h5>ССЫЛКА НА ПРОЕКТ</h5>
                                    <span><a href="{{project.file_project}}">{{project.file_project}}</a></span>
                                </li>
                                <li>
                                    <h5> ССЫЛКА НА ДОКУМЕНТ</h5>
                                    <span><a href="{{project.file_document}}">{{project.file_document}}</a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="single-post__recipe__details__indegradients">
                            <h5>Описание</h5>
                            {{project.description|safe}}
                        </div>
                        <div class="single-post__recipe__details__direction">
                            <h5>Теория</h5>
                            {{project.creation_theoru|safe}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="single-post__desc">
                        <p>{{ post.text }}</p>
                    </div>
                    <div class="single-post__tags">
                        {% for tag in post.tags.all %}
                        <a href="#">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="single-post__next__previous">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="/" class="single-post__previous">
                                    <h6><span class="arrow_carrot-left"></span> На главную страницу</h6>
                                </a>
                                {% if request.user.is_authenticated %}
                                <div class="single-post__tags">
                                    <a href="{% url 'update' post.id %}" class="primary-btn">Изменить</a>
                                    <a href="{% url 'delete' post.id %}" class="primary-btn">Удалить</a>
                                </div>
                                {% else %}
                                    <a href="#"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="single-post__comment">
                        <div class="widget__title">
                            <h4>{{post.get_comments.count}} комментария</h4>
                        </div>
                        {% for comment in post.get_comments %}
                        <div class="single-post__comment__item">
                            <div class="single-post__comment__item__pic">
                                <img src="/static/img/icon.png" alt="">
                            </div>
                            <div class="single-post__comment__item__text">
                                <h5>{{comment.name}}</h5>
                                <span>{{comment.create_at}}</span>
                                <p>{{comment.message}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    <div class="single-post__leave__comment">
                        <div class="widget__title">
                            <h4>Напишите комментарий</h4>
                        </div>
                        <form action="{% url 'create_comment' pk=post.id %}" method="post">
                            {% csrf_token %}
                            <div class="input-list">
                                {{form.name}}
                                {{form.email}}
                                {{form.website}}
                                <!-- <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Website"> -->
                            </div>
                            {{form.message}}
                            <!-- <textarea placeholder="Message"></textarea> -->
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
