{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Добро пожаловать {{request.user}}</h3>
      <p>Здесь вы сможете добавлять свои посты, связанные с вашим проектом, a также изменять</p>
      <hr>
      <nav class="header__menu">
        <ul>
            <li><a href="{% url 'create' %}">Добавить пост</a></li>
            <li><a href="{% url 'create_post' %}">Добавить проект</a></li>
        </ul>
      </nav>
     </div>
    </div>
</div>
{% endblock content %}