{% load menu_tags %}
<li><a href="#">Последние</a>
    <div class="header__megamenu__wrapper">
        <div class="header__megamenu">
            {% for post in list_last_post %}
            <div class="header__megamenu__item">
                {% if post.image %}
                <div class="header__megamenu__item--pic set-bg"
                    data-setbg="{{post.image.url}}">
                {% else %}
                    <img src="" alt="">
                 {% endif %}
                    <div class="label">{{post.category.name}}</div>
                </div>
                <div class="header__megamenu__item--text">
                    <h5>
                        <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</li>