{% load menu_tags %}


<li class="dropdown">
    <a href="#">Категории</a>
    <ul class="dropdown__menu">
        {% for post in list_last_post %}
            <li>
                <a href="{% url 'post_list' node.slug %}">{{post.category.name}}</a>
            </li>
        {% endfor %}
    </ul>
</li>