{% load menu_tags %}
<nav class="header__menu">
    <ul>
        <li class="active"><a href="/">Главная страница</a></li>
        {% get_last_posts %}
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'customerregistration' %}">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>